{% extends "layout.html.j2" %}

{% block content %}
<h1>TavernLog</h1>

<section>
    <h2>Games</h2>

    {{ games }}
    {% for game in games %}
    <article>
        <dl>
            <dt>Date time</dt> <dd>{{ game.ts }}</dd>

        </dl>

        <h3>Players</h3>
        {% for player in game.players %}
        <dl>
            <dt>Name</dt> <dd>{{ player.name }}</dd>
            <dt>Rank</dt> <dd>{{ player.rank }}</dd>
        </dl>
        <dl>
            {% for node in player.nodes %}
            <dt>{{ node.tag }}</dt> <dd>{{ node.value }}</dd>
            {% endfor %}
        </dl>
        {% endfor %}

        <h3>{{ game.id }}</h3>
    </article>
    {% endfor %}
</section>
{% endblock content %}
